Repository gwax/mtg_ssm: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, doc8-python, doc8-rst

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: Type checking from mypy
        language: system
        entry: mypy
        types: [python]
      - id: ruff
        name: ruff
        description: "Run ruff on files"
        entry: ruff check --force-exclude
        language: system
        types_or: [python, pyi]
        args: [--fix, --exit-non-zero-on-fix]
        require_serial: true
      - id: doc8-python
        name: Documentation checking from doc8 (Python)
        language: system
        entry: doc8
        types: [python]
      - id: doc8-rst
        name: Documentation checking from doc8 (reStructuredText)
        language: system
        entry: doc8
        types: [rst]
      - id: eclint
        name: EditorConfig file validation
        language: node
        additional_dependencies: [eclint]
        entry: eclint
        args: [check]

Switch from pylint/flake8/isort to ruff
  .pre-commit-config.yaml
  TODO.md
  mtg_ssm/containers/bundles.py
  mtg_ssm/containers/collection.py
  mtg_ssm/containers/counts.py
  mtg_ssm/containers/legacy.py
  mtg_ssm/scryfall/fetcher.py
  mtg_ssm/scryfall/models.py
  mtg_ssm/serialization/__init__.py
  mtg_ssm/serialization/csv.py
  mtg_ssm/serialization/interface.py
  mtg_ssm/serialization/xlsx.py
  mtg_ssm/ssm.py
  pylintrc
  pyproject.toml
  tests/conftest.py
  tests/containers/test_bundles.py
  tests/containers/test_counts.py
  tests/containers/test_legacy.py
  tests/gen_testdata.py
  tests/mtg/test_util.py
  tests/scryfall/test_fetcher.py
  tests/serialization/test_csv.py
  tests/serialization/test_interface.py
  tests/serialization/test_xlsx.py
  tests/test_ssm.py
Due: black, mypy, doc8-python

Switch to 99 character line length
  mtg_ssm/containers/counts.py
  mtg_ssm/containers/indexes.py
  mtg_ssm/containers/legacy.py
  mtg_ssm/scryfall/fetcher.py
  mtg_ssm/serialization/csv.py
  mtg_ssm/serialization/interface.py
  mtg_ssm/serialization/xlsx.py
  mtg_ssm/ssm.py
  pyproject.toml
  tests/containers/test_bundles.py
  tests/containers/test_counts.py
  tests/containers/test_indexes.py
  tests/containers/test_legacy.py
  tests/gen_testdata.py
  tests/mtg/test_util.py
  tests/scryfall/test_fetcher.py
  tests/serialization/test_csv.py
  tests/serialization/test_interface.py
  tests/serialization/test_xlsx.py
  tests/test_ssm.py
Due: black, mypy, doc8-python

Note Python 3.12 in classifiers
  pyproject.toml
Due: none

Add vehicle frame effect to scryfall models
  mtg_ssm/scryfall/models.py
Due: black, mypy, doc8-python

Added timeless to class ScrySetType
  mtg_ssm/scryfall/models.py
Due: black, mypy, doc8-python

Model updates and fixes
  mtg_ssm/scryfall/models.py
  tests/data/bulk_data.json
  tests/data/cards.json
  tests/data/sets.json
  tests/data/sets1.json
  tests/data/sets2.json
Due: black, mypy, doc8-python

Lint fixes
  mtg_ssm/containers/indexes.py
  mtg_ssm/scryfall/models.py
  mtg_ssm/serialization/__init__.py
  pyproject.toml
Due: black, mypy, doc8-python

Test fixes
  tests/conftest.py
  tests/serialization/__snapshots__/test_xlsx.ambr
Due: black, mypy, doc8-python

Lint fixes
  mtg_ssm/serialization/xlsx.py
  pyproject.toml
Due: black, mypy, doc8-python

add missing enum value to models.py
  mtg_ssm/scryfall/models.py
Due: black, mypy, doc8-python

Bump python versions and fix mypy issues
  .github/workflows/integration.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/run-tests.yml
  README.rst
  mtg_ssm/containers/bundles.py
  mtg_ssm/containers/counts.py
  mtg_ssm/containers/indexes.py
  mtg_ssm/containers/legacy.py
  mtg_ssm/mtg/util.py
  mtg_ssm/scryfall/fetcher.py
  mtg_ssm/scryfall/models.py
  mtg_ssm/serialization/csv_serializer.py
  mtg_ssm/serialization/interface.py
  mtg_ssm/serialization/xlsx_serializer.py
  mtg_ssm/ssm.py
  pyproject.toml
  tests/conftest.py
  tests/containers/test_counts.py
  tests/containers/test_legacy.py
  tests/mtg/test_util.py
  tests/scryfall/test_fetcher.py
  tests/serialization/test_csv_serializer.py
  tests/serialization/test_interface.py
  tests/serialization/test_xlsx_serializer.py
Due: black, mypy, doc8-python, doc8-rst

Modernize project tooling with uv
  .github/dependabot.yml
  .github/workflows/integration.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/run-tests.yml
  .pre-commit-config.yaml
  README.rst
  mtg_ssm/containers/bundles.py
  mtg_ssm/containers/indexes.py
  mtg_ssm/containers/legacy.py
  mtg_ssm/scryfall/models.py
  mtg_ssm/serialization/csv_serializer.py
  mtg_ssm/serialization/interface.py
  mtg_ssm/serialization/xlsx_serializer.py
  mtg_ssm/ssm.py
  pyproject.toml
  tests/scryfall/test_fetcher.py
  tests/serialization/test_csv_serializer.py
  tests/serialization/test_xlsx_serializer.py
  tests/test_ssm.py
  uv.lock
Due: black, mypy, doc8-python, doc8-rst

Expand Scryfall fixture coverage
  mtg_ssm/scryfall/models.py
  tests/containers/test_bundles.py
  tests/data/bulk_data.json
  tests/data/cards.json
  tests/data/sets.json
  tests/data/sets1.json
  tests/data/sets2.json
  tests/gen_testdata.py
  tests/scryfall/test_models.py
  tests/serialization/__snapshots__/test_xlsx_serializer.ambr
Due: black, mypy, doc8-python

Keep filtered set counts in sync
  TODO.md
  mtg_ssm/containers/bundles.py
  mtg_ssm/scryfall/fetcher.py
  pyproject.toml
  tests/containers/test_bundles.py
  tests/gen_testdata.py
  uv.lock
Due: black, mypy, doc8-python

Bound All Sets formulas to populated rows
  mtg_ssm/serialization/xlsx_serializer.py
  tests/serialization/__snapshots__/test_xlsx_serializer.ambr
Due: black, mypy, doc8-python

Version bump
  README.rst
Due: doc8-rst

Add missing scryfall frame effect
  README.rst
  mtg_ssm/scryfall/models.py
  tests/data/bulk_data.json
  tests/data/cards.json
  tests/data/sets.json
  tests/data/sets1.json
  tests/data/sets2.json
  tests/gen_testdata.py
  tests/serialization/__snapshots__/test_xlsx_serializer.ambr
Due: black, mypy, doc8-python, doc8-rst

Model updates
  mtg_ssm/scryfall/models.py
Due: black, mypy, doc8-python
